body {
    font-family: "Arial", sans-serif;
}

.bar {
    fill: #5f89ad;
}

.axis {
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    stroke: green;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.label {
    font-size: 13px;
}
